{% extends "learner/index.html" %}

{% block page_title %} {% endblock page_title %}

{% block main_content %}

<h3>{{ subject.name }} - {{ subject.grade }} - {{ year }}</h3>
<ul>
    {% for paper in past_papers %}
        <li>
            <a href="{{ paper.question_file.url }}" target=_blank>
                Paper {{ paper.paper_number }} Question Paper
            </a>
        </li>
        <li>
            <a href="{{ paper.memo_file.url }}" target=_blank>
                Paper {{ paper.paper_number }} Memo
            </a>
        </li>
    {% empty %}
        <li>No past papers found for this year.</li>
    {% endfor %}
</ul>
<a href="{% url 'past_papers_years' subject.id %}">Back</a>

{% endblock main_content %}