<!-- Sticky Sidebar Navigation -->
<aside id="sidebar" class="bg-body text-body">
    <ul>
        <!-- Home link -->
        <li class="{% if request.resolver_match.url_name == 'learner' %}active{% endif %}">
            <a href="{% url "learner" %}"><i class="fa fa-home me-2"></i>Home</a>
        </li>
        
        <!-- Link to Payment Forms -->
        <li class="{% if request.resolver_match.url_name == 'view-quizzes' %}active{% endif %}">
            <a href="{% url "view-quizzes" %}"><i class="fa-solid fa-square-check me-2"></i>Tests & Quizzes</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'past_papers_subjects' %}active{% endif %}">
            <a href="{% url "past_papers_subjects" %}"><i class="fa-solid fa-scroll me-2"></i>Past Papers</a>
        </li>
        
        
        <li class="d-md-none mobile-only-item">
            <a href="#" onclick="toggleTheme()">
                <i class="fa-solid fa-moon me-2"></i>
                <span id="theme-label">Toggle Theme</span>
            </a>
        </li>
        <!-- Mobile-only items (hidden on large screens) -->
        <li class="d-md-none mobile-only-item {% if request.resolver_match.url_name == 'dologout' %}active{% endif %}">
            <a href="{% url 'dologout' %}"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
        </li>
    </ul>
</aside>