{% extends "registration/base.html" %}

{% block page_title %}Password Reset{% endblock page_title %}

{% block main_content %}

    <div class="row justify-content-center mt-2">
        <div class="col-12 col-md-10 col-lg-6">
           <div class="card bg-body-tertiary text-body m-4 shadow-sm rounded-5">
                <div class="card-header bg-body-secondary text-body fw-semibold my-3 mx-2 rounded-3">
                    Forgot password
                </div>
                <div class="card-body">
                    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">Login</a>.</p>                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}