<aside id="homeSidebar" class="bg-body text-body">
    <ul>
        <li>
            <a href="{% url 'home' %}#about">
                <i class="fa fa-home me-2"></i>About
            </a>
        </li>

        <li>
            <a href="{% url 'home' %}#services">
                <i class="fa fa-home me-2"></i>Services
            </a>
        </li>

        <li>
            <a href="{% url 'home' %}#testimonials">
                <i class="fa fa-home me-2"></i>Testimonials
            </a>
        </li>

        <li>
            <a href="{% url 'home' %}#contact">
                <i class="fa fa-home me-2"></i>Contact
            </a>
        </li>
    </ul>
</aside>
