{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Sign-Up{% endblock page_title %}

{% block main_content %}

<div class="row my-4 mx-2 justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">

        <!-- ROLE SWITCH BUTTONS -->
        <div class="card bg-body-tertiary text-body mt-3 shadow-sm rounded-5">
           <div class="d-flex gap-3 mx-3 my-3">
                <a href="{% url 'signup' 'learner' %}" id="learnerBtn" class="btn btn-primary w-50 rounded-5">Learner</a>
                <a href="{% url 'signup' 'tutor' %}" id="tutorBtn" class="btn btn-outline-primary w-50 rounded-5">Tutor</a>
            </div>
            <div class="card-header bg-body-secondary text-body fw-semibold mb-3 mx-2 rounded-3">
                {{ role|title }} Sign-Up
            </div>

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="rounded-4">
                        {{ form|crispy }}
                    </div>
                    {% for message in messages %}
                        <h6 class="text-danger">{{message}}</h6>
                    {% endfor %}
            </div>

            <div class="d-flex m-3">
                <button type="submit" class="btn btn-primary me-4 rounded-4 p-3">Sign-Up</button>
                <a href="{% url 'home' %}" class="btn btn-secondary rounded-4 p-3">Cancel</a>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}
