{% extends base_template %}
{% load crispy_forms_tags %}

{% block page_title %}Update Profile{% endblock page_title %}

{% block main_content %}

    <div class="row mt-4">
        {% comment %} <div class="col-8"> {% endcomment %}
        <div class="col-12 col-md-10 col-lg-6">

            <div class="card bg-body-tertiary text-body m-4 shadow-sm rounded-5">
                <div class="card-header bg-body-secondary text-body fw-semibold my-3 mx-2 rounded-3">
                    Update Profile
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="rounded-4 p-3">
                            {{ form|crispy }}
                        </div>
                         {% for message in messages %}
                            {% if message.tags == "error" %}
                                <h6 class="text-danger">{{message}}</h6>
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary me-4 rounded-4 p-3">Update</button>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}