{% extends "tutor/index.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Updated Quizz{% endblock page_title %}

{% block main_content %}

<style>

.rounded-4.p-3 input,
.rounded-4.p-3 select,
.rounded-4.p-3 textarea {
border-radius: 1rem !important; /* same as rounded-4 */
padding: 1rem !important;       /* same as p-3 */
}
</style>
<!-- Centered row with margin -->
<div class="row justify-content-center mt-2">
    <div class="col-12">
         <div class="card bg-body-tertiary text-body m-4 shadow-sm rounded-4">
            <div class="card-header bg-body-tertiary text-body fw-semibold my-3 mx-2 rounded-3">
            Update Quizz
            </div>
            
            <div class="card-body">
                <!-- Form setup with POST method and file upload support -->
                <form method="POST" action="{% url "update_quiz" quiz.id %}" >
                    {% csrf_token %}  {# Protects against CSRF attacks #}
                    
                   <div class="rounded-4 p-3">
                        {{ form|crispy }}
                    </div>
                      {% for message in messages %}
                            {% if message.tags == "error" %}
                                <h6 class="text-danger">{{message}}</h6>
                            {% else %}
                                <h6 class="text-danger">{{message}}</h6>

                            {% endif %}
                        {% endfor %}
                    <!-- Button group: Submit and Cancel -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary me-4 rounded-4 p-3">Add</button>
                        <a href="{% url "manage_quizzes" %}" class="btn btn-secondary rounded-4 p-3">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock main_content %}
