{% extends "administration/index.html" %}
{% load crispy_forms_tags %}

{% block page_title %} Manage Subjects {% endblock page_title %}

{% block main_content %}

{# --- Display Django messages (corrected message tag comparison) --- #}
{% for message in messages %}
    {% if "error" in message.tags %}
        <h6 class="alert alert-danger m-4">{{ message }}</h6>
    {% else %}
        <h6 class="alert alert-primary m-4">{{ message }}</h6>
    {% endif %}
{% endfor %}

{# --- Check if Subject data exists --- #}
{% if subjects %}
    <div class="row justify-content-center mt-2">
        <div class="col-6 col-md-12">
            <div class="card bg-body-tertiary text-body m-4 shadow-sm rounded-4">
                <div class="card-header bg-body-tertiary text-body fw-semibold my-3 mx-2 rounded-3">
                 Manage Subjects
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">

                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Subject Name</th>
                                    <th scope="col">Grade</th>
                                    <th scope="col">Tutor</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in subjects %}
                                <tr>
                                    <td> {{ subject.id }}</td>
                                    <td>{{ subject.name }}</td>
                                    <td>{{ subject.grade }}</td>
                                    <td>{{ subject.tutor.first_name }} {{ subject.tutor.last_name }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
{% else %}
    <h4 class="alert alert-primary mt-2">No subjects yet.</h4>
{% endif %}

{% endblock main_content %}
